@keyframes stickyNavbar {
  from {
    opacity: 0.8;
    transform: translateY(-20rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes testimonialsSlider {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideFromSide {
  to {
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif; }

img {
  height: auto;
  width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-align: justify; }
  @media only screen and (max-width: 37.5em) {
    p {
      text-align: unset; } }

hr {
  width: 30%;
  height: 0.1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2rem auto; }

::selection {
  background-color: #b07e80;
  color: #fbfbfb; }

.blur {
  filter: blur(2rem); }

@media only screen and (max-width: 43.75em) {
  .phone {
    display: none; } }

@media only screen and (max-width: 56.25em) {
  .desktop {
    display: none; } }

@media only screen and (min-width: 900px) {
  .tablet-phone {
    display: none; } }

.section-title {
  color: #9b6062;
  display: block;
  text-align: center;
  font-size: 8rem;
  font-family: "Amatic SC", cursive;
  padding: 3rem 0; }
  @media only screen and (max-width: 75em) {
    .section-title {
      padding: 2rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .section-title {
      padding: 1rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-title {
      font-size: 6rem; } }
  .section-title--bottom {
    font-family: "Satisfy", cursive;
    font-size: 3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-title--bottom {
        font-size: 2.5rem; } }
  .section-title--p {
    text-align: center;
    margin: 0 0 5rem; }
  .section-title--text {
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .section-title--text {
        text-align: justify;
        padding: 0 2rem; } }
    .section-title--text:not(:first-child) {
      margin-top: 1rem; }

.section-padding {
  padding: 5rem 0; }
  @media only screen and (max-width: 37.5em) {
    .section-padding {
      padding: 3rem 0; } }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  cursor: pointer; }
  @media only screen and (max-width: 31.25em) {
    .btn {
      font-size: 1.8rem;
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 25em) {
    .btn {
      font-size: 1.5rem;
      padding: 1rem 2rem; } }
  .btn--border {
    position: relative;
    transition: all 1s ease-in-out; }
    .btn--border::before, .btn--border::after {
      content: "";
      position: absolute;
      border-color: inherit;
      border-style: solid;
      height: 2rem;
      width: 2rem;
      transition: all 1s ease-in-out; }
    .btn--border::before {
      top: calc(-1 * 0.8rem);
      left: calc(-1 * 0.8rem);
      border-width: 2px 0 0 2px; }
    .btn--border::after {
      bottom: calc(-1 * 0.8rem);
      right: calc(-1 * 0.8rem);
      border-width: 0 2px 2px 0; }
    .btn--border:hover:before, .btn--border:hover:after, .btn--border:focus:before, .btn--border:focus:after {
      width: calc(100% + (0.8rem * 2));
      height: calc(100% + (0.8rem * 2)); }
    .btn--border-white {
      color: #fbfbfb;
      border: #fbfbfb 2px solid; }
      .btn--border-white:hover, .btn--border-white:focus {
        background: rgba(251, 251, 251, 0.8);
        color: #c39e9f; }
    .btn--border-pink {
      color: #9b6062;
      border: #9b6062 2px solid; }
      .btn--border-pink:hover, .btn--border-pink:focus {
        background: rgba(155, 96, 98, 0.8);
        color: #fbfbfb; }
  .btn--basic-pink {
    background-color: #c39e9f;
    color: #fbfbfb;
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .btn--basic-pink {
        font-size: 1.8rem;
        width: 100%;
        text-align: center; } }
    .btn--basic-pink:hover, .btn--basic-pink:focus {
      background-color: #d6bebe; }
  .btn--basic-black {
    background-color: #000;
    color: #fbfbfb;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.75rem 2rem;
    margin: 2rem;
    transition: all 0.3s ease-in-out; }
    .btn--basic-black:hover, .btn--basic-black:focus {
      background-color: #c39e9f; }

.section-instagram {
  background: #eadddd; }
  .section-instagram > .section-title:hover .section-instagram__span {
    transform: translate(-50%, 0%) rotate(0deg);
    opacity: 1; }
  .section-instagram__title-link {
    transition: 0.3s ease-in-out;
    position: relative; }
    .section-instagram__title-link:hover {
      color: #b07e80; }
  .section-instagram__feed {
    display: flex;
    justify-content: center;
    padding: 0 3rem; }
    @media only screen and (max-width: 56.25em) {
      .section-instagram__feed {
        flex-wrap: wrap; } }
  .section-instagram__link {
    position: relative; }
    .section-instagram__link:hover .section-instagram__span {
      transform: translate(-50%, 0%) rotate(0deg);
      opacity: 1; }
  .section-instagram__span {
    color: #fbfbfb;
    max-width: 100%;
    padding: 0.75rem 1rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translate(-70%, 50%) rotate(-40deg);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out; }
    .section-instagram__span::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 1rem;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; }
    .section-instagram__span--title {
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
      font-family: "Roboto", sans-serif;
      top: -4rem; }
  .section-instagram__icons {
    fill: #fbfbfb;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem; }
    .section-instagram__icons:last-child {
      margin-left: 1.5rem; }
  .section-instagram__figure {
    margin: 0.5rem;
    overflow: hidden;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .section-instagram__figure {
        max-width: 10rem; } }
    .section-instagram__figure::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(195, 158, 159, 0.4);
      z-index: 1;
      opacity: 0;
      transition: 0.3s ease-in-out; }
    .section-instagram__figure:hover::before {
      opacity: 1; }
  .section-instagram__image {
    transform: scale(2); }

.navbar-top {
  background: #c39e9f;
  color: #fbfbfb;
  fill: #fbfbfb; }
  .navbar-top__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .navbar-top__items {
    margin: 0.5rem; }
    .navbar-top__items:nth-child(1) {
      margin-right: auto;
      margin-left: 3rem; }
    .navbar-top__items:nth-child(5) {
      margin-left: 3rem; }
    .navbar-top__items:last-child {
      margin-right: 3rem; }
    @media only screen and (max-width: 31.25em) {
      .navbar-top__items:nth-child(2), .navbar-top__items:nth-child(5) {
        display: none; } }
  .navbar-top__text, .navbar-top__title {
    color: currentColor;
    font-size: 2rem;
    font-family: "Amatic SC", cursive;
    font-weight: 700; }
  .navbar-top__title {
    font-size: 2rem; }
  .navbar-top__icons {
    width: 2.5rem;
    height: 2.5rem;
    fill: inherit;
    transition: all 0.3s ease-in-out; }
    .navbar-top__icons:hover, .navbar-top__icons:focus {
      fill: #eadddd; }

.navbar-bottom {
  background: rgba(251, 251, 251, 0.95); }
  @media only screen and (max-width: 56.25em) {
    .navbar-bottom {
      display: none; } }
  .navbar-bottom__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5%; }
  .navbar-bottom__items {
    margin: 0 2rem; }
    .navbar-bottom__items:nth-child(4) {
      flex: 2;
      text-align: center; }
  .navbar-bottom__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    transition: all 0.3s ease-in-out; }
    .navbar-bottom__link:hover, .navbar-bottom__link:focus {
      color: #c39e9f; }
  .navbar-bottom__logo {
    display: inline-block;
    width: 13rem;
    height: calc(13rem / 1.625); }

.navbar-mobile {
  background: rgba(251, 251, 251, 0.95); }
  @media screen and (min-width: 900px) {
    .navbar-mobile {
      display: none; } }
  .navbar-mobile__list {
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative; }
  .navbar-mobile__item:first-child {
    margin: 0 auto; }
  .navbar-mobile__checkbox {
    display: none; }
  .navbar-mobile__button {
    width: 5rem;
    height: 5rem;
    text-align: center;
    cursor: pointer;
    display: inline-block; }
  .navbar-mobile__icon {
    position: relative;
    margin-top: 2.5rem; }
    .navbar-mobile__icon, .navbar-mobile__icon::before, .navbar-mobile__icon::after {
      width: 3rem;
      height: 3px;
      display: inline-block;
      background-color: #c39e9f;
      transition: all 0.3s ease-in-out, background-color 0.5s ease-in-out; }
    .navbar-mobile__icon::before, .navbar-mobile__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navbar-mobile__icon::before {
      top: -0.8rem; }
    .navbar-mobile__icon::after {
      top: 0.8rem; }
  .navbar-mobile__button:hover .navbar-mobile__icon::before {
    transform: translateY(-0.2rem); }
  .navbar-mobile__button:hover .navbar-mobile__icon::after {
    transform: translateY(0.2rem); }
  .navbar-mobile__checkbox:checked + .navbar-mobile__button .navbar-mobile__icon {
    background-color: transparent; }
  .navbar-mobile__checkbox:checked + .navbar-mobile__button .navbar-mobile__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navbar-mobile__checkbox:checked + .navbar-mobile__button .navbar-mobile__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navbar-mobile__menu {
    position: absolute;
    z-index: 100;
    top: 8.7rem;
    right: -3rem;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
    background-color: rgba(0, 0, 0, 0.8); }
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      .navbar-mobile__menu {
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
        background-color: rgba(0, 0, 0, 0.7); } }
    .navbar-mobile__menu-list {
      list-style: none;
      background: rgba(195, 158, 159, 0.97);
      box-shadow: 0 1px 10px 1px rgba(195, 158, 159, 0.3);
      border-bottom-left-radius: 50%;
      transform: scale(0);
      transform-origin: right top;
      transition: all 1s ease-in-out 0.5s; }
    .navbar-mobile__menu-items {
      text-align: center;
      padding: 1rem;
      opacity: 0;
      transform: translateX(-3rem);
      transition: all 0.7s ease-in-out; }
    .navbar-mobile__menu-link {
      color: #fbfbfb;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 3rem;
      font-family: "Amatic SC", cursive;
      font-weight: 700;
      transition: all 0.3s ease-in-out; }
      .navbar-mobile__menu-link:hover, .navbar-mobile__menu-link:focus {
        color: #eadddd; }
  .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu {
    transition: all 1s ease-in-out;
    opacity: 1; }
  .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list {
    transform: scale(1);
    border-bottom-left-radius: 0; }
  .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > * {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.7s ease-in-out; }
    .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > *:nth-child(1) {
      transition-delay: calc(1s / 5); }
    .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > *:nth-child(2) {
      transition-delay: calc(2s / 5); }
    .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > *:nth-child(3) {
      transition-delay: calc(3s / 5); }
    .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > *:nth-child(4) {
      transition-delay: calc(4s / 5); }
    .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > *:nth-child(5) {
      transition-delay: calc(5s / 5); }
    .navbar-mobile__checkbox:checked ~ .navbar-mobile__menu > .navbar-mobile__menu-list > *:nth-child(6) {
      transition-delay: calc(6s / 5); }

.navbar--sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 10px 1px rgba(195, 158, 159, 0.3);
  animation: stickyNavbar 1s ease-out 0.2s both; }

.footer {
  color: #fbfbfb;
  background: #c39e9f;
  display: flex;
  justify-content: space-around;
  border-bottom: 3rem solid #c39e9f;
  border-image-source: url("../../../images/svg/logo_pink.svg");
  border-image-slice: 130 0;
  border-image-repeat: round; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      flex-direction: column;
      align-items: center; } }
  .footer__title {
    font-size: 3rem;
    font-family: "Amatic SC", cursive;
    margin: 2rem 0; }
    @media only screen and (max-width: 31.25em) {
      .footer__title {
        text-align: center; } }
  .footer__p {
    color: currentColor;
    transition: all 0.3s ease-in-out; }
    .footer__p:hover {
      color: #eadddd; }
  .footer__social-list {
    list-style: none;
    display: flex;
    justify-content: space-around; }
  .footer__social-icons {
    fill: #fbfbfb;
    width: 4rem;
    height: 4rem;
    transition: all 0.3s ease-in-out; }
    .footer__social-icons:hover {
      fill: #eadddd; }

.about__header {
  margin: 0 0 5rem;
  padding-bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .about__header {
      margin: 2rem 0; } }
  .about__header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    background: url(../../../images/floral_pattern.png);
    perspective: 100rem; }
    .about__header-container:hover .about__header-figure:first-child {
      transform: rotateY(5deg); }
    .about__header-container:hover .about__header-figure:last-child {
      transform: rotateY(-5deg); }
    @media only screen and (max-width: 37.5em) {
      .about__header-container {
        padding: 1rem; } }
  .about__header-figure {
    min-width: 25rem;
    max-width: 30rem;
    border: #c39e9f double 1rem;
    box-shadow: 0 0 0.1rem 0.1rem #c39e9f;
    transform: rotateY(0);
    transition: 0.5s; }
    @media only screen and (max-width: 56.25em) {
      .about__header-figure {
        display: none; } }
  .about__header-text {
    padding: 5rem; }
  .about__header-p {
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
    font-family: "Satisfy", cursive;
    color: rgba(0, 0, 0, 0.3); }
    .about__header-p big {
      font-style: italic; }
  .about__header-signature {
    text-align: right; }

.about__body {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__body-p {
    margin: 0 5rem 5rem;
    column-count: 2;
    column-gap: 10rem; }
    .about__body-p span {
      display: block;
      margin-top: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .about__body-p {
        margin: 0 10rem 5rem;
        column-gap: 8rem; } }
    @media only screen and (max-width: 43.75em) {
      .about__body-p {
        column-count: 1; } }
    @media only screen and (max-width: 31.25em) {
      .about__body-p {
        margin: 0 5rem; } }
