@keyframes stickyNavbar {
  from {
    opacity: 0.8;
    transform: translateY(-20rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//Testimonials Slider
@keyframes testimonialsSlider {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromSide {
  to {
    transform: translateX(0);
  }
}
