.our-services {
  &__items {
    background-color: $color-white;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.2);
    padding: 3rem;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 4.5rem;
    font-family: $font-logo;
    color: $color-primary-dark;
    margin-bottom: 2rem;
    align-self: center;

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;

    @include respond(tab-port) {
      font-size: 4rem;
    }

    @include respond(big-phone) {
      font-size: 3.5rem;
    }

    &-icon {
      fill: currentColor;
      max-width: 12rem;
      max-height: 12rem;
      margin-right: 5%;

      @include respond(tab-port) {
        width: 8rem;
        height: 8rem;
      }

      @include respond(big-phone) {
        width: 6rem;
        height: 6rem;
      }
    }
  }
  &__ul {
  }
  &__li {
    padding: 1rem;
    margin: 0.5rem;
    width: 60vw;
    list-style: none;

    display: flex;
    transition: all 0.5s ease-in-out;

    &:nth-child(odd) {
      background: $color-primary-ultra-light;
    }
    &:nth-child(even) {
      background: $color-primary-extra-light;
    }

    &:hover {
      transform: translateX(2rem);
    }

    &:hover .our-services__list-icon {
      fill: $color-primary-extra-dark;
    }

    @include respond(tab-port) {
      width: 65vw;
    }
    @include respond(small-phone) {
      width: 75vw;
    }
  }

  &__list-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-primary;
    background-color: $color-white;
    padding: 0.5rem;
    border-radius: 10rem;
    transition: all 0.5s ease-in-out;
  }

  &__list-p {
    padding-left: 2rem;
  }
}
