.header {
  height: 95vh;
  min-height: 70rem;
  position: relative;
  overflow: hidden;

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    height: 90vh;
    min-height: 70rem;
    width: 100vw;
    object-fit: cover;
    object-position: 50% 85%;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba($color: $color-primary, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  &__title {
    color: $color-white;
    font-size: 5.5rem;
    letter-spacing: 1rem;
    margin: 5rem;
    margin-top: 30vh;

    &--top,
    &--bottom {
      display: block;
      text-align: center;
      padding: 2rem;
    }
    &--top {
    }
    &--bottom {
      font-family: $font-signature;
    }
  }
}
