.section-testimonials {
  background: url("../../images/floral_pattern.png");
  padding: 5rem 3rem;

  &__box {
    margin: 10rem auto;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 0.5s;

    &--active {
      // animation: testimonialsSlider 0.5s;
      opacity: 1;
      transition: 1s;
    }
  }

  &__quote {
    text-align: inherit;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      font-size: 35rem;
      color: $color-gray-ultra-light;
      @include respond(phone) {
        font-size: 20rem;
      }
    }

    &::before {
      content: "\201C";
      top: 7rem;
      left: -6.5rem;

      @include respond(phone) {
        top: 4rem;
        left: -3.5rem;
      }
    }
    &::after {
      content: "\201D";
      right: -3.5rem;
      bottom: -11.5rem;

      @include respond(phone) {
        right: -2.5rem;
        bottom: -5.5rem;
      }
    }
  }

  &__couple {
    font-size: 3rem;
    font-family: $font-signature;
    color: $color-gray-medium;
    margin-top: 2rem;
  }
}
