// .section-more {
//   &__group {
//     display: flex;
//     position: relative;

//     overflow: hidden;
//   }

//   &__container {
//     position: relative;

//     &:first-child,
//     &:nth-child(4) {
//       z-index: 5;
//       max-width: 30%;
//     }

//     //Slides Blog Articles DIV
//     &:first-child:hover + .section-more__container--blog {
//       transform: translateX(75%);
//       opacity: 1;
//       transition-delay: 0.2s;
//     }

//     //Slides Weddings DIV
//     &:nth-child(4):hover + .section-more__container--weddings {
//       transform: translateX(-75%);
//       opacity: 1;
//       transition-delay: 0.2s;
//     }

//     &--quote {
//       //   background: $color-primary-light;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       box-shadow: inset 0 0 7rem 0rem $color-primary-extra-light;
//     }

//     &--blog,
//     &--weddings {
//       height: 100%;
//       width: 40%; //Same as --quote, detect it with js and inline apply.
//       background: white;
//       position: absolute;
//       opacity: 0.9;
//       transition: 1s ease-in-out;
//       z-index: 2;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-around;

//       &:hover {
//         opacity: 1;
//       }
//     }

//     &--blog {
//       transform: translateX(-24%);

//       &:hover {
//         transform: translateX(75%);
//       }
//     }
//     &--weddings {
//       right: 0;
//       transform: translateX(24%);
//       &:hover {
//         transform: translateX(-75%);
//       }
//     }

//     &-title {
//       color: $color-white;
//       font-size: 4rem;
//       font-family: $font-logo;
//       text-align: center;
//       padding: 2rem;
//       width: 100%;
//       background: rgba($color: $color-white, $alpha: 0.3);
//       @include absoluteCenter;
//     }

//     &-p {
//       padding: 0 5rem;

//       @include respond(tab-port) {
//         font-size: 1.5rem;
//         line-height: normal;
//         padding: 0 2rem;
//       }
//     }
//   }
// }

// .section-blog {
//   &__group {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 3rem;
//     box-shadow: inset 0 0 7rem 0rem $color-primary-extra-light;

//     &:last-child > .section-blog__figure {
//       order: 1;
//     }
//   }

//   &__figure {
//     flex: 0 0 30%;
//     position: relative;
//   }

//   &__caption {
//     color: $color-white;
//     font-family: $font-logo;
//     font-size: 3rem;
//     position: absolute;
//     text-align: center;
//     width: 100%;
//     background-color: rgba($color: $color-white, $alpha: 0.3);
//     padding: 7%;
//     top: 50%;
//     transform: translateY(-50%);
//   }

//   &__info {
//     padding: 3rem;
//   }
//   &__title {
//     color: $color-gray-dark;
//     font-size: 2.5rem;
//     font-weight: 100;

//     margin: 2rem auto;
//   }
//   &__p {
//   }
// }

.section-blog {
  &__articles {
    & .blog__article {
      display: flex;

      & > .blog__figure {
        flex: 1 0 40%;
      }

      & > .blog__text {
        margin: 0 2rem;
      }

      & > .blog__footer {
        display: none;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}
