.section-about {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include respond(phone) {
    flex-direction: column;
    // justify-content: center;
  }

  &__flower {
    flex: 1 0 45%;
    margin-left: -10rem;
    transform: rotate(-30deg) scale(1.5);

    @include respond(tab-land) {
      margin-left: 0;
    }

    @include respond(phone) {
      transform: rotate(0) scale(1);
      width: 20rem;
    }
  }

  &__image {
    @include respond(phone) {
      transform: rotate(64deg) scale(0.8);
      margin: -14rem 0;
    }
  }

  &__text-box {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem;

    @include respond(phone) {
      max-width: 75%;
      margin: 0;
    }
  }

  &__paragraph {
    margin: 2rem 0;

    &:first-of-type::first-letter {
      font-size: 5rem;
      font-family: $font-signature;
      color: $color-gray-extra-light;
    }

    &--caps {
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    &:last-of-type {
      margin-bottom: 5rem;
    }
  }
}
