.section-instagram {
  background: $color-primary-extra-light;

  & > .section-title:hover .section-instagram__span {
    transform: translate(-50%, 0%) rotate(0deg);
    opacity: 1;
  }

  &__title-link {
    transition: 0.3s ease-in-out;
    position: relative;

    &:hover {
      color: $color-primary-dark;
    }
  }
  &__feed {
    display: flex;
    justify-content: center;
    padding: 0 3rem;

    @include respond(tab-port) {
      flex-wrap: wrap;
    }
  }

  &__link {
    position: relative;

    &:hover .section-instagram__span {
      transform: translate(-50%, 0%) rotate(0deg);
      opacity: 1;
    }
  }
  &__span {
    color: $color-white;
    max-width: 100%;
    padding: 0.75rem 1rem;
    text-align: center;
    background: $color-gray-extra-dark;
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translate(-70%, 50%) rotate(-40deg);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 1rem;
      border-style: solid;
      border-color: $color-gray-extra-dark transparent transparent transparent;
    }

    &--title {
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
      font-family: $font-body;
      top: -4rem;
    }
  }

  &__icons {
    fill: $color-white;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;

    &:last-child {
      margin-left: 1.5rem;
    }
  }

  &__figure {
    margin: 0.5rem;
    overflow: hidden;
    position: relative;

    @include respond(tab-port) {
      max-width: 10rem;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($color: $color-primary, $alpha: 0.4);
      z-index: 1;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    &:hover::before {
      opacity: 1;
    }
  }

  &__image {
    transform: scale(2);
  }
}
