*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    // width < 600?
    font-size: 43.75%; //1 rem = 7px, 7/16 = 43.75%
  }

  // @include respond(small-phone) {
  //   // width < 500?
  //   font-size: 31.25%; //1 rem = 5px, 5/16 = 31.25%
  // }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  // background: $color-white;
  background: #fff;
  font-family: "Roboto", sans-serif;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.7rem;
  color: $color-gray-light;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-align: justify;

  @include respond(phone) {
    text-align: unset;
  }
}

hr {
  width: 30%;
  height: 0.1rem;
  border: none;
  background-color: $color-gray-ultra-light;
  margin: 2rem auto;
}

::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}
